* {
  margin: 0;
  padding: 0;
}

.senction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  background-image: linear-gradient(to right, #9ac9e3, #326884);
  color: #fff !important;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
}
.navbar :hover {
  color: black !important;
}
.navbar-collapse {
  display: flex;
  justify-content: end;
  transition: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  background: transparent;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background: transparent;
}
.navbar img{
  margin-left: 12px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  padding: 50px 0 0 50px;
  background: #e1e1e1;
  z-index: -1;
}
footer {
  background-color: #134761;
  opacity: 50%;
  z-index: 1;
}
.copy {
  font-size: 17px !important;
  margin-left: 12px !important;
}
a {
  text-decoration: none;
  color: #fff !important;
}
.content h1 {
  font-size: 60px;
  color: #1c5071;
  font-weight: 1000;
  margin-bottom: 20px;
}
.content h3 {
  font-size: 30px;
  color: #00b3e3;
  font-weight: 500;
  margin-bottom: 20px;
}
.content p {
  font-size: 20px;
  color: #8c8b8b;
  font-weight: 500;
  margin-bottom: 20px;
}
.content img {
  margin-bottom: 5px;
}
.content button {
  font-size: 20px;
  padding: 8px 35px;
  border: none;
  background: #32516b;
  color: #fff;
}

.image {
  position: absolute;
  width: 55%;
  height: 70%;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-repeat: no-repeat;
}
.line-break {
  display: block;
}
/* 1750px */
@media (min-width: 1920px) {
  .content {
    padding: 60px 0 0 60px !important;
  }
}
@media (max-width: 5000px){
  .image {
    height: 87% !important;
  }
}
@media (max-width: 4000px){
  .image {
    height: 87% !important;
  }
}
@media (max-width: 3182px){
  .image {
    height: 86% !important;
  }
}
@media (max-width: 2580px){
  .image {
    height: 85% !important;
  }
}
@media (max-width: 1830px){
  .image {
    height: 85% !important;
  }
}
@media (max-width: 2130px){
  .image {
    height: 83% !important;
  }
}
@media (max-width: 1830px){
  .image {
    height: 80% !important;
  }
}
@media (max-width: 1596px){
  .image {
    height: 78% !important;
  }
}
@media (max-width: 1425px){
  .image {
    height: 75% !important;  
  }
}
@media only screen and (max-width: 1220px) {
  .image {
    height: 70% !important;
  }
  .content h1 {
    font-size: 50px !important;
  }

  .content h3 {
    font-size: 25px !important;
  }

  .content p {
    font-size: 15px !important;
  }

  .content button {
    font-size: 16px !important;
  }
  .copy {
    font-size: 15px !important;
    margin-left: 8px !important;
  }
}

@media only screen and (max-width: 1170px) {
  .image {
    height: 70% !important;
  }
}

@media (max-width: 1100px) {
  .image {
    height: 70% !important;
  }
}
/* 768px */
@media (max-width: 992px) {
  .senction {
    height: 100% !important;
  }
  .navbar-collapse.show {
    display: block !important;
    transition: none !important;
    position: absolute !important;
    background-image: linear-gradient(to right, #9ac9e3, #326884) !important;
    width: 100% !important;
    top: 50px !important;
  }

  .content {
    width: 100% !important;
    padding: 20px !important;
  }

  .image {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
  }

  .content h1 {
    font-size: 45px !important;
    margin-bottom: 20px !important;
  }

  .content h3 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .content img {
    height: 14px !important;
    margin-bottom: 20px !important;
  }
  .content p {
    font-size: 18px !important;
    margin-bottom: 20px !important;
  }

  .content button {
    font-size: 15px !important;
    margin-bottom: 20px !important;
  }
  .copy {
    font-size: 18px !important;
    margin-left: 8px !important;
  }
  .line-break {
    display: inline; 
  }
}
/* 576 */
@media (max-width: 767px) {
  .content h1 {
    font-size: 45px !important;
    margin-bottom: 20px !important;
  }

  .content h3 {
    font-size: 30px !important;
  }

  .content p {
    font-size: 18px !important;
  }

  .content button {
    font-size: 18px !important;
    margin-bottom: 20px !important;
  }
  .content img {
    height: 14px !important;
    margin-bottom: 20px !important;
  }
  .navbar img {
    height: 17px !important;
  }
  .copy {
    font-size: 15px !important;
    margin-left: 8px !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .content h1 {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }

  .content h3 {
    font-size: 25px !important;
  }

  .content p {
    font-size: 12px !important;
  }

  .content button {
    font-size: 12px !important;
    margin-bottom: 20px !important;
  }
  .content img {
    height: 10px !important;
    margin-bottom: 20px !important;
  }
  .navbar img {
    height: 15px !important;
  }
  .copy {
    font-size: 15px !important;
    margin-left: 8px !important;
  }
}
/* 320 */
@media (max-width: 374px) {
  .content h1 {
    font-size: 35px !important;
  }

  .content h3 {
    font-size: 19px !important;
  }

  .content p {
    font-size: 12px !important;
  }

  .content button {
    font-size: 10px !important;
  }
  .content img {
    height: 10px !important;
  }
  .navbar img {
    height: 15px !important;
  }
  .copy {
    font-size: 15px !important;
    margin-left: 8px !important;
  }
}
/* 280 */
@media (max-width: 319px) {
  .content h1 {
    font-size: 35px !important;
  }

  .content h3 {
    font-size: 17px !important;
  }

  .content p {
    font-size: 10px !important;
  }

  .content button {
    font-size: 12px !important;
  }
  .content img {
    height: 10px !important;
  }
  .navbar img {
    height: 15px !important;
    margin-left: 10px !important;
  }
  .copy {
    font-size: 12px !important;
    margin-left: 8px !important;
  }
   
}
/* @keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 2s normal;
} */
